* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

#clock {
  font-size: 5rem;
  font-style: oblique;
  margin-bottom: 80px;
  text-align: center;
  z-index: 10;
  position: relative;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

#weather {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;
  position: relative;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

#todo-form {
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;
  position: relative;
}

#todo-form input {
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 10;
}

#todo-list {
  list-style-type: none;
  padding: 0;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
}

#todo-list li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.hidden {
  display: none;
}

#weather span {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

#greeting {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;
  position: relative;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

#login-form input {
  padding: 5px;
  font-size: 1rem;
  width: 250px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: #39ff14;
  margin-bottom: 20px;
}

#login-form input[type='submit'] {
  padding: 5px 5px;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: auto;
}

#login-form input[type='submit']:hover {
  background-color: white;
  color: black;
  border-color: black;
}
